# Exploration of Data Sources
* listings.csv.gz - Detailed listings data for New York City
* listings.csv - Summary information and metrics for listings in New York City
* calendar.csv.gz - Detailed calendar data for listings in New York City
* reviews.csv.gz - Detailed review data for listings in New York City
* reviews.csv - Summary review data and listing ID
* neighbourhoods.csv - Neighbourhood list for geo filter. Sourced from city or open source GIS files
* neighbourhoods.geojson - GeoJSON file of neighbourhoods of the city

For the purposes of this notebook, each file will be explored separately.

In [0]:
import pandas as pd 
import json
import os

# function to summarize data
# param: df dataframe
# print number of variables, data type counts, and variable names
def summarizeData(df):
    print("Number of Variables: {:d}\n".format(df.shape[1]))
    print("Number of Observations: {:d}\n".format(df.shape[0]))
    print("Data types:")
    print(df.dtypes.value_counts())    
    print("\nColumn Names by Type:\n")
    g = df.columns.to_series().groupby(df.dtypes).groups
    for item in g.items():
        print(item)

### Load Data Sources

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd

file_path = '/content/drive/My Drive/MAR 653/Final Project/data/{}'

calendar_df = pd.read_csv(file_path.format('calendar.csv.gz'), compression='gzip')
listings_summary_df = pd.read_csv(file_path.format('listings.csv'))
listings_detail_df = pd.read_csv(file_path.format('listings.csv.gz'), compression='gzip')
neighbourhoods_df = pd.read_csv(file_path.format('neighbourhoods.csv'))
neighbourhoods_geo_df = pd.read_json(file_path.format('neighbourhoods.geojson'))
reviews_summary_df = pd.read_csv(file_path.format('reviews.csv'))
reviews_detail_df = pd.read_csv(file_path.format('reviews.csv.gz'), compression='gzip')
prizm_zipcode_df = pd.read_excel(file_path.format('prizm_attributes.xlsx'), sheet_name='zipcodes')
prizm_attributes_df = pd.read_excel(file_path.format('prizm_attributes.xlsx'), sheet_name='attributes')

In [4]:
os.listdir('drive/My Drive/MAR 653/Final Project/data')

['calendar.csv.gz',
 'listings.csv.gz',
 'reviews.csv.gz',
 'listings_detailed',
 'reviews_detailed',
 'calendar_detailed',
 'neighbourhoods.csv',
 'neighbourhoods.geojson',
 'listings.csv',
 'reviews.csv',
 'prizm_attributes.xlsx',
 'listings_cleaned.csv',
 'listings_201512.csv',
 'listings_201612.csv',
 'listings_201712.csv',
 'listings_201812.csv',
 'listings_201912.csv']

In [0]:
# read geojson into dictionary
import json
with open('drive/My Drive/MAR 653/Final Project/data/neighbourhoods.geojson', 'r') as fin:
  geo = json.loads(fin.read())

## File: listings.csv.gz (detailed)
* Detailed Listings data for New York City
* Contains 50599 observations of 43 numeric and 63 object variables

In [6]:
listings_detail_df.describe()

                 id  ...  reviews_per_month
count  5.059900e+04  ...       40379.000000
mean   2.137380e+07  ...           1.405862
std    1.242864e+07  ...           1.695551
min    2.595000e+03  ...           0.010000
25%    1.009891e+07  ...           0.190000
50%    2.154642e+07  ...           0.740000
75%    3.271780e+07  ...           2.110000
max    4.058402e+07  ...          52.630000

[8 rows x 43 columns]

In [7]:
summarizeData(listings_detail_df)

Number of Variables: 106

Number of Observations: 50599

Data types:
object     63
float64    22
int64      21
dtype: int64

Column Names by Type:

(dtype('int64'), Index(['id', 'scrape_id', 'host_id', 'accommodates', 'guests_included',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'availability_30', 'availability_60',
       'availability_90', 'availability_365', 'number_of_reviews',
       'number_of_reviews_ltm', 'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms'],
      dtype='object'))
(dtype('float64'), Index(['thumbnail_url', 'medium_url', 'xl_picture_url', 'host_acceptance_rate',
       'host_listings_count', 'host_total_listings_count', 'latitude',
       'longitude', 'bathrooms', 'bedrooms', 'beds', 'square_feet',
       'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'reviews_per_month'],
      dtype='object'))
(dtype('O'), Index(['listing_url', 'last_scraped', 'name', 'summary', 'space',
       'description', 'experiences_offered', 'neighborhood_overview', 'notes',
       'transit', 'access', 'interaction', 'house_rules', 'picture_url',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_is_superhost',
       'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood',
       'host_verifications', 'host_has_profile_pic', 'host_identity_verified',
       'street', 'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'is_location_exact',
       'property_type', 'room_type', 'bed_type', 'amenities', 'price',
       'weekly_price', 'monthly_price', 'security_deposit', 'cleaning_fee',
       'extra_people', 'calendar_updated', 'has_availability',
       'calendar_last_scraped', 'first_review', 'last_review',
       'requires_license', 'license', 'jurisdiction_names', 'instant_bookable',
       'is_business_travel_ready', 'cancellation_policy',
       'require_guest_profile_picture', 'require_guest_phone_verification'],
      dtype='object'))

### Sample Observation

In [0]:
listings_detail_df.head()

     id  ... reviews_per_month
0  2595  ...              0.39
1  3831  ...              4.67
2  5099  ...              0.60
3  5121  ...              0.38
4  5178  ...              3.52

[5 rows x 106 columns]

## File: listings.csv (summary)
* Summary information and metrics for listings in New York City (good for visualizations)
* Contains 50599 observations of 10 numeric and 6 object variables

In [45]:
listings_summary_df.describe()

                 id  ...  availability_365
count  5.059900e+04  ...      50599.000000
mean   2.137380e+07  ...        112.785944
std    1.242864e+07  ...        135.891028
min    2.595000e+03  ...          0.000000
25%    1.009891e+07  ...          0.000000
50%    2.154642e+07  ...         42.000000
75%    3.271780e+07  ...        225.000000
max    4.058402e+07  ...        365.000000

[8 rows x 10 columns]

In [0]:
summarizeData(listings_summary_df)

Number of Variables: 16

Number of Observations: 50599

Data types:
int64      7
object     6
float64    3
dtype: int64

Column Names by Type:

(dtype('int64'), Index(['id', 'host_id', 'price', 'minimum_nights', 'number_of_reviews',
       'calculated_host_listings_count', 'availability_365'],
      dtype='object'))
(dtype('float64'), Index(['latitude', 'longitude', 'reviews_per_month'], dtype='object'))
(dtype('O'), Index(['name', 'host_name', 'neighbourhood_group', 'neighbourhood',
       'room_type', 'last_review'],
      dtype='object'))

### Sample Observation

In [0]:
listings_summary_df.head()

     id  ... availability_365
0  2595  ...                1
1  3831  ...                1
2  5099  ...               19
3  5121  ...              365
4  5178  ...              242

[5 rows x 16 columns]

## File: reviews.csv.gz (detailed)
* Detailed Review Data for listings in New York City
* Contains 1255322 observations of 3 numeric and 3 object variables

In [0]:
reviews_detail_df.describe()

         listing_id            id   reviewer_id
count  1.255322e+06  1.255322e+06  1.255322e+06
mean   1.396211e+07  2.918422e+08  8.324934e+07
std    1.076478e+07  1.734486e+08  7.820263e+07
min    2.595000e+03  9.030000e+02  1.000000e+00
25%    4.081800e+06  1.415657e+08  1.876831e+07
50%    1.315684e+07  2.900042e+08  5.592106e+07
75%    2.173354e+07  4.526637e+08  1.324934e+08
max    4.056566e+07  5.736112e+08  3.146917e+08

In [0]:
summarizeData(reviews_detail_df)

Number of Variables: 6

Number of Observations: 1255322

Data types:
object    3
int64     3
dtype: int64

Column Names by Type:

(dtype('int64'), Index(['listing_id', 'id', 'reviewer_id'], dtype='object'))
(dtype('O'), Index(['date', 'reviewer_name', 'comments'], dtype='object'))

### Sample Observation

In [8]:
reviews_detail_df.head()

   listing_id  ...                                           comments
0        2595  ...  Notre séjour de trois nuits.\r\nNous avons app...
1        2595  ...                                  Great experience.
2        2595  ...  I've stayed with my friend at the Midtown Cast...
3        2595  ...  We've been staying here for about 9 nights, en...
4        2595  ...  We had a wonderful stay at Jennifer's charming...

[5 rows x 6 columns]

## File: reviews.csv (summary)
* Summary Review data and Listing ID (to facilitate time based analytics and visualizations linked to a listing)
* Contains 1255322 observations of 1 numeric and 1 object variables
* These are observations of review dates by listing ID.

In [0]:
reviews_summary_df.describe()

         listing_id
count  1.255322e+06
mean   1.396211e+07
std    1.076478e+07
min    2.595000e+03
25%    4.081800e+06
50%    1.315684e+07
75%    2.173354e+07
max    4.056566e+07

In [0]:
summarizeData(reviews_summary_df)

Number of Variables: 2

Number of Observations: 1255322

Data types:
object    1
int64     1
dtype: int64

Column Names by Type:

(dtype('int64'), Index(['listing_id'], dtype='object'))
(dtype('O'), Index(['date'], dtype='object'))

### Sample Observation

In [0]:
reviews_summary_df.head()

   listing_id        date
0        2595  2009-11-21
1        2595  2009-12-05
2        2595  2009-12-10
3        2595  2010-04-09
4        2595  2010-05-25

## File: calendar.csv.gz (detailed)
> Detailed Calendar Data for listings in New York City

In [0]:
calendar_df.describe()

         listing_id  minimum_nights  maximum_nights
count  1.847016e+07    1.846950e+07    1.846950e+07
mean   2.137365e+07    8.528041e+00    6.886948e+05
std    1.242861e+07    3.029394e+01    3.841186e+07
min    2.595000e+03    1.000000e+00    1.000000e+00
25%    1.009889e+07    1.000000e+00    2.900000e+01
50%    2.154642e+07    3.000000e+00    1.125000e+03
75%    3.271789e+07    5.000000e+00    1.125000e+03
max    4.058402e+07    3.456000e+03    2.147484e+09

In [0]:
summarizeData(calendar_df)

Number of Variables: 7

Number of Observations: 18470156

Data types:
object     4
float64    2
int64      1
dtype: int64

Column Names by Type:

(dtype('int64'), Index(['listing_id'], dtype='object'))
(dtype('float64'), Index(['minimum_nights', 'maximum_nights'], dtype='object'))
(dtype('O'), Index(['date', 'available', 'price', 'adjusted_price'], dtype='object'))

### Sample Observation

In [0]:
calendar_df.head()

   listing_id        date  ... minimum_nights maximum_nights
0       19812  2019-12-05  ...            3.0           90.0
1        2595  2019-12-06  ...           10.0         1125.0
2        2595  2019-12-07  ...           10.0         1125.0
3        2595  2019-12-08  ...           10.0         1125.0
4        2595  2019-12-09  ...           10.0         1125.0

[5 rows x 7 columns]

## File: neighbourhoods.csv
> Neighbourhood list for geo filter. Sourced from city or open source GIS files.

In [9]:
neighbourhoods_df.describe()

       neighbourhood_group   neighbourhood
count                  230             230
unique                   5             230
top                 Queens  Pelham Gardens
freq                    53               1

In [0]:
summarizeData(neighbourhoods_df)

Number of Variables: 2

Number of Observations: 230

Data types:
object    2
dtype: int64

Column Names by Type:

(dtype('O'), Index(['neighbourhood_group', 'neighbourhood'], dtype='object'))

### Sample Observation

In [0]:
neighbourhoods_df.head()

  neighbourhood_group neighbourhood
0               Bronx      Allerton
1               Bronx    Baychester
2               Bronx       Belmont
3               Bronx     Bronxdale
4               Bronx   Castle Hill

## File: neighbourhoods.geojson
> GeoJSON file of neighbourhoods of the city

In [0]:
geo.keys()

dict_keys(['type', 'features'])

In [0]:
geo['type']

'FeatureCollection'

In [0]:
print("There are {:d} feature sets in the collection".format(len(geo['features'])))

There are 233 feature sets in the collection

### Sample Observation

In [0]:
# inspect first feature set
geo['features'][0]

{'geometry': {'coordinates': [[[[-73.766708, 40.614911],
     [-73.768253, 40.614878],
     [-73.773977, 40.616004],
     [-73.773631, 40.616327],
     [-73.768735, 40.620901],
     [-73.767459, 40.620511],
     [-73.766978, 40.616919],
     [-73.766708, 40.614911]]]],
  'type': 'MultiPolygon'},
 'properties': {'neighbourhood': 'Bayswater', 'neighbourhood_group': 'Queens'},
 'type': 'Feature'}

Each feature set contains latitude and longitude coordinates specific to neighbourhood and neighbourhood group.

In [0]:
# all neighbourhood groups
neighbourhoodgroups = set([f['properties']['neighbourhood_group'] for f in geo['features']])
print(neighbourhoodgroups)

{'Manhattan', 'Brooklyn', 'Bronx', 'Staten Island', 'Queens'}

In [0]:
# all neighbourhoods by neighbourhood group
for group in neighbourhoodgroups:
    # neighbourhoods respective to neighbourhood group
    nnames = [f['properties']['neighbourhood'] for f in geo['features'] if f['properties']['neighbourhood_group'] == group]
    print('\n',"group:",group)
    print(" neighbourhoods:{:d}".format(len(nnames)),'\n')
    print(nnames)

 group: Manhattan
 neighbourhoods:32

['Battery Park City', 'Chinatown', 'Chelsea', 'Civic Center', 'East Harlem', 'East Village', 'Financial District', 'Flatiron District', 'Gramercy', 'Greenwich Village', 'Harlem', "Hell's Kitchen", 'Inwood', 'Kips Bay', 'Little Italy', 'Murray Hill', 'Lower East Side', 'Marble Hill', 'Midtown', 'Morningside Heights', 'NoHo', 'Nolita', 'SoHo', 'Roosevelt Island', 'Stuyvesant Town', 'Theater District', 'Tribeca', 'Two Bridges', 'Upper East Side', 'Upper West Side', 'Washington Heights', 'West Village']

 group: Brooklyn
 neighbourhoods:48

['Bay Ridge', 'Gerritsen Beach', 'Bath Beach', 'Bedford-Stuyvesant', 'Bensonhurst', 'Bergen Beach', 'Boerum Hill', 'Borough Park', 'Brighton Beach', 'Prospect-Lefferts Gardens', 'Brooklyn Heights', 'Brownsville', 'Bushwick', 'Cypress Hills', 'Canarsie', 'Carroll Gardens', 'Clinton Hill', 'Cobble Hill', 'Crown Heights', 'Columbia St', 'Coney Island', 'DUMBO', 'Downtown Brooklyn', 'Dyker Heights', 'East Flatbush', 'East New York', 'Flatbush', 'Flatlands', 'Gowanus', 'Fort Greene', 'Fort Hamilton', 'Gravesend', 'Kensington', 'Greenpoint', 'Manhattan Beach', 'Midwood', 'Mill Basin', 'Navy Yard', 'Park Slope', 'Prospect Heights', 'Red Hook', 'Sea Gate', 'Sheepshead Bay', 'South Slope', 'Sunset Park', 'Vinegar Hill', 'Windsor Terrace', 'Williamsburg']

 group: Bronx
 neighbourhoods:50

['Allerton', 'City Island', 'Fordham', 'Belmont', 'Soundview', 'Baychester', 'Mott Haven', 'Bronxdale', 'City Island', 'Castle Hill', 'Claremont Village', 'Clason Point', 'Co-op City', 'Concourse', 'Concourse Village', 'Mount Eden', 'Country Club', 'Mount Hope', 'East Morrisania', 'Fieldston', 'Eastchester', 'Edenwald', 'Parkchester', 'Pelham Bay', 'Highbridge', 'Pelham Gardens', 'Hunts Point', 'Morris Park', 'Kingsbridge', 'Morrisania', 'Longwood', 'Norwood', 'Morris Heights', 'Melrose', 'Olinville', 'North Riverdale', 'Port Morris', 'Riverdale', 'Schuylerville', 'Spuyten Duyvil', 'Van Nest', 'Throgs Neck', 'Tremont', 'Unionport', 'University Heights', 'Wakefield', 'West Farms', 'Woodlawn', 'Westchester Square', 'Williamsbridge']

 group: Staten Island
 neighbourhoods:48

['Arden Heights', 'Arrochar', 'Port Ivory', 'Bay Terrace, Staten Island', 'Bloomfield', "Bull's Head", 'Chelsea, Staten Island', 'Castleton Corners', 'Grant City', 'Charleston', 'Clifton', 'Concord', 'Dongan Hills', 'Eltingville', 'Emerson Hill', 'Shore Acres', 'Fort Wadsworth', 'Graniteville', 'Great Kills', 'Huguenot', 'Grymes Hill', 'Howland Hook', 'Lighthouse Hill', 'Oakwood', 'Pleasant Plains', 'Mariners Harbor', 'Midland Beach', 'New Brighton', 'New Dorp', 'New Dorp Beach', 'New Springville', 'Port Richmond', "Prince's Bay", 'Randall Manor', 'Silver Lake', 'Woodrow', 'Richmondtown', 'Rosebank', 'Rossville', 'South Beach', 'Tompkinsville', 'St. George', 'Stapleton', 'Todt Hill', 'Tottenville', 'West Brighton', 'Westerleigh', 'Willowbrook']

 group: Queens
 neighbourhoods:55

['Bayswater', 'Ditmars Steinway', 'Ozone Park', 'Whitestone', 'Arverne', 'Astoria', 'Bayside', 'Bay Terrace', 'Bayswater', 'Belle Harbor', 'Bellerose', 'Breezy Point', 'Briarwood', 'Cambria Heights', 'College Point', 'Corona', 'Jamaica Hills', 'Douglaston', 'Glen Oaks', 'East Elmhurst', 'Elmhurst', 'Edgemere', 'Glendale', 'Far Rockaway', 'Jamaica Estates', 'Laurelton', 'Flushing', 'Forest Hills', 'Fresh Meadows', 'Kew Gardens', 'Queens Village', 'Hollis', 'Hollis Hills', 'Holliswood', 'Howard Beach', 'Howard Beach', 'Jackson Heights', 'Jamaica', 'Kew Gardens Hills', 'Little Neck', 'Long Island City', 'Maspeth', 'Middle Village', 'Neponsit', 'Rego Park', 'Richmond Hill', 'Ridgewood', 'Rockaway Beach', 'Rosedale', 'South Ozone Park', 'Springfield Gardens', 'St. Albans', 'Sunnyside', 'Woodside', 'Woodhaven']

# How neighborhood affects rental price?

In [4]:
listings_summary_df.head()

     id  ... availability_365
0  2595  ...                1
1  3831  ...                1
2  5099  ...               19
3  5121  ...              365
4  5178  ...              242

[5 rows x 16 columns]

In [53]:
listings_neighbourhood_df = listings_summary_df[['price','neighbourhood','neighbourhood_group']]
listings_neighbourhood_df['zipcode'] = listings_detail_df['zipcode']
listings_neighbourhood_df['neighbourhood_normalized'] = listings_neighbourhood_df['neighbourhood'].factorize()[0]
listings_neighbourhood_df['neighbourhood_group_normalized'] = listings_neighbourhood_df['neighbourhood_group'].factorize()[0]
listings_neighbourhood_df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

   price  ... neighbourhood_group_normalized
0    225  ...                              0
1     89  ...                              1
2    200  ...                              0
3     60  ...                              1
4     79  ...                              0

[5 rows x 6 columns]

In [0]:
prizm_zipcode_df = prizm_zipcode_df[prizm_zipcode_df.isna().any(axis=1) == False]

In [93]:
prizm_attributes_df.loc[prizm_attributes_df['id']==1]['score'][0]

5

In [96]:
type(prizm_zipcode_df['attribute_id'][0])

str

In [157]:
# Calculate the averaged prizm score by zipcode
prizm_zipcode_df['average_score'] = -1
for i, row in prizm_zipcode_df.iterrows():
  attribute_id_arr = row['attribute_id'].split(',')
#  print(attribute_id_arr.split(','))
  sum = 0
  count = len(attribute_id_arr)
  for id in attribute_id_arr:
#    print('id: ', type(int(id)))
    match_row = prizm_attributes_df.loc[prizm_attributes_df['id']==int(id)]
    row_i = match_row.index[0]
#    print(row_i)
#   print(match_row['score'][row_i])
#    print(prizm_attributes_df.loc[prizm_attributes_df['id']==int(id)].index)
#    print(type(prizm_attributes_df.loc[prizm_attributes_df['id']==int(id)]['score']))
    sum += match_row['score'][row_i]
#  print('sum: ', sum, ' count: ', count)
  prizm_zipcode_df.loc[i, 'average_score'] = sum / count

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [191]:
listings_neighbourhood_df[listings_neighbourhood_df.isna().any(axis=1)]
listings_neighbourhood_df[listings_neighbourhood_df.isna().any(axis=1) == False]

       price       neighbourhood  ... lower_middle lower
0        225             Midtown  ...            0     0
1         89        Clinton Hill  ...            0     0
2        200         Murray Hill  ...            0     0
3         60  Bedford-Stuyvesant  ...            0     0
4         79      Hell's Kitchen  ...            0     0
...      ...                 ...  ...          ...   ...
50594    200             Fordham  ...            0     0
50595    150    Ditmars Steinway  ...            0     0
50596    225             Fordham  ...            0     0
50597     70  Bedford-Stuyvesant  ...            0     0
50598    100        Williamsburg  ...            0     0

[50134 rows x 10 columns]

In [190]:
zipcode

[SimpleZipcode(zipcode='11201', zipcode_type='Standard', major_city='Brooklyn', post_office_city='Brooklyn, NY', common_city_list=['Brooklyn'], county='Kings County', state='NY', lat=40.7, lng=-73.99, timezone='Eastern', radius_in_miles=1.0, area_code_list=['347', '718', '929'], population=51128, population_density=35981.0, land_area_in_sqmi=1.42, water_area_in_sqmi=0.01, housing_units=26390, occupied_housing_units=23325, median_home_value=669000, median_household_income=95369, bounds_west=-74.008117, bounds_east=-73.973126, bounds_north=40.705769, bounds_south=40.683319),
 SimpleZipcode(zipcode='11203', zipcode_type='Standard', major_city='Brooklyn', post_office_city='Brooklyn, NY', common_city_list=['Brooklyn'], county='Kings County', state='NY', lat=40.65, lng=-73.93, timezone='Eastern', radius_in_miles=1.0, area_code_list=['718'], population=76174, population_density=35502.0, land_area_in_sqmi=2.15, water_area_in_sqmi=0.0, housing_units=28087, occupied_housing_units=26420, median_home_value=426100, median_household_income=48400, bounds_west=-73.947676, bounds_east=-73.919729, bounds_north=40.663557, bounds_south=40.633679),
 SimpleZipcode(zipcode='11204', zipcode_type='Standard', major_city='Brooklyn', post_office_city='Brooklyn, NY', common_city_list=['Brooklyn'], county='Kings County', state='NY', lat=40.62, lng=-73.99, timezone='Eastern', radius_in_miles=1.0, area_code_list=['718'], population=78134, population_density=49173.0, land_area_in_sqmi=1.59, water_area_in_sqmi=0.0, housing_units=28196, occupied_housing_units=25449, median_home_value=657500, median_household_income=45472, bounds_west=-74.000824, bounds_east=-73.972994, bounds_north=40.634955, bounds_south=40.607119),
 SimpleZipcode(zipcode='11205', zipcode_type='Standard', major_city='Brooklyn', post_office_city='Brooklyn, NY', common_city_list=['Brooklyn'], county='Kings County', state='NY', lat=40.7, lng=-73.97, timezone='Eastern', radius_in_miles=1.0, area_code_list=['212'], population=40366, population_density=42508.0, land_area_in_sqmi=0.95, water_area_in_sqmi=0.0, housing_units=16409, occupied_housing_units=14690, median_home_value=636900, median_household_income=44688, bounds_west=-73.980729, bounds_east=-73.951444, bounds_north=40.705954, bounds_south=40.687415),
 SimpleZipcode(zipcode='11206', zipcode_type='Standard', major_city='Brooklyn', post_office_city='Brooklyn, NY', common_city_list=['Brooklyn'], county='Kings County', state='NY', lat=40.7, lng=-73.94, timezone='Eastern', radius_in_miles=1.0, area_code_list=['347', '718', '917'], population=81677, population_density=56939.0, land_area_in_sqmi=1.43, water_area_in_sqmi=0.0, housing_units=29941, occupied_housing_units=28025, median_home_value=533400, median_household_income=28559, bounds_west=-73.957457, bounds_east=-73.927588, bounds_north=40.713373, bounds_south=40.691599)]

In [187]:
prizm_zipcode_df.loc[prizm_zipcode_df['zipcode'] == 14075]

Empty DataFrame
Columns: [zipcode, attribute_id, average_score]
Index: []

In [164]:
listings_neighbourhood_df['upper'] = 0
listings_neighbourhood_df['upper_middle'] = 0
listings_neighbourhood_df['lower_middle'] = 0
listings_neighbourhood_df['lower'] = 0

for i, row in listings_neighbourhood_df.iterrows():
  match_row = prizm_zipcode_df.loc[prizm_zipcode_df['zipcode']==int(row['zipcode'])]
  print(match_row)

    zipcode  attribute_id  average_score
46    10018  31,17,4,40,7            3.6
   zipcode   attribute_id  average_score
8    11238  31,17,40,4,21            3.6
    zipcode   attribute_id  average_score
13    10016  31,17,4,40,21            3.6
   zipcode    attribute_id  average_score
3    11216  40,17,31,21,63            3.0
   zipcode  attribute_id  average_score
4    10019  17,31,4,40,7            3.6
    zipcode  attribute_id  average_score
11    10025  17,7,40,31,4            3.6
   zipcode   attribute_id  average_score
5    10002  63,17,31,43,7            3.6
    zipcode   attribute_id  average_score
12    10036  17,31,40,4,21            3.6
    zipcode  attribute_id  average_score
15    11215  4,17,31,7,21            4.2
    zipcode  attribute_id  average_score
21    10014  17,31,4,7,21            4.2
   zipcode   attribute_id  average_score
0    11211  31,17,40,56,4            3.2
    zipcode   attribute_id  average_score
17    11205  31,17,63,4,40            3.0
    zipcode  attribute_id  average_score
16    10011  17,31,4,7,40            3.6
   zipcode    attribute_id  average_score
3    11216  40,17,31,21,63            3.0
    zipcode    attribute_id  average_score
24    10029  63,40,17,31,43            3.0
   zipcode   attribute_id  average_score
0    11211  31,17,40,56,4            3.2
    zipcode   attribute_id  average_score
25    11217  31,4,17,40,21            3.6
    zipcode   attribute_id  average_score
25    11217  31,4,17,40,21            3.6
    zipcode   attribute_id  average_score
25    11217  31,4,17,40,21            3.6
   zipcode    attribute_id  average_score
3    11216  40,17,31,21,63            3.0
    zipcode   attribute_id  average_score
51    11218  17,40,4,42,31            3.2
    zipcode    attribute_id  average_score
70    10034  63,17,40,43,42            3.0
    zipcode    attribute_id  average_score
70    10034  63,17,40,43,42            3.0
   zipcode  attribute_id  average_score
9    10003  31,17,4,7,21            4.2
    zipcode    attribute_id  average_score
18    10031  63,40,43,42,17            3.0
    zipcode   attribute_id  average_score
19    10027  63,17,40,31,7            3.0
   zipcode   attribute_id  average_score
7    11222  17,31,40,21,4            3.6
    zipcode    attribute_id  average_score
18    10031  63,40,43,42,17            3.0
   zipcode   attribute_id  average_score
8    11238  31,17,40,4,21            3.6
    zipcode  attribute_id  average_score
15    11215  4,17,31,7,21            4.2
    zipcode    attribute_id  average_score
10    11237  63,42,43,31,40            3.0
    zipcode    attribute_id  average_score
10    11237  63,42,43,31,40            3.0
    zipcode    attribute_id  average_score
22    11226  63,40,43,45,17            3.0
   zipcode   attribute_id  average_score
5    10002  63,17,31,43,7            3.6
   zipcode   attribute_id  average_score
6    10009  17,31,63,40,4            3.0
    zipcode  attribute_id  average_score
32    10024  17,7,31,4,40            3.6
    zipcode   attribute_id  average_score
19    10027  63,17,40,31,7            3.0
    zipcode   attribute_id  average_score
27    11225  40,17,31,63,7            3.0
    zipcode   attribute_id  average_score
43    11101  31,17,63,40,4            3.0
   zipcode   attribute_id  average_score
8    11238  31,17,40,4,21            3.6
   zipcode    attribute_id  average_score
1    11221  42,40,63,31,17            2.6
    zipcode   attribute_id  average_score
17    11205  31,17,63,4,40            3.0
   zipcode    attribute_id  average_score
3    11216  40,17,31,21,63            3.0
    zipcode  attribute_id  average_score
32    10024  17,7,31,4,40            3.6
   zipcode    attribute_id  average_score
2    11206  63,31,42,40,56            2.6
   zipcode   attribute_id  average_score
7    11222  17,31,40,21,4            3.6
    zipcode  attribute_id  average_score
49    10010  17,31,4,7,40            3.6
   zipcode   attribute_id  average_score
0    11211  31,17,40,56,4            3.2
    zipcode   attribute_id  average_score
13    10016  31,17,4,40,21            3.6
   zipcode   attribute_id  average_score
5    10002  63,17,31,43,7            3.6
    zipcode  attribute_id  average_score
46    10018  31,17,4,40,7            3.6
   zipcode   attribute_id  average_score
7    11222  17,31,40,21,4            3.6
   zipcode   attribute_id  average_score
5    10002  63,17,31,43,7            3.6
    zipcode   attribute_id  average_score
20    11249  31,17,63,4,42            3.2
    zipcode   attribute_id  average_score
29    10001  31,17,40,19,4            3.4
Empty DataFrame
Columns: [zipcode, attribute_id, average_score]
Index: []
    zipcode   attribute_id  average_score
44    11231  17,63,4,31,40            3.0
   zipcode   attribute_id  average_score
8    11238  31,17,40,4,21            3.6
    zipcode   attribute_id  average_score
17    11205  31,17,63,4,40            3.0
    zipcode   attribute_id  average_score
12    10036  17,31,40,4,21            3.6
    zipcode  attribute_id  average_score
15    11215  4,17,31,7,21            4.2
   zipcode   attribute_id  average_score
6    10009  17,31,63,40,4            3.0
    zipcode   attribute_id  average_score
20    11249  31,17,63,4,42            3.2
   zipcode   attribute_id  average_score
6    10009  17,31,63,40,4            3.0
    zipcode    attribute_id  average_score
47    10035  63,42,43,17,40            3.0
   zipcode   attribute_id  average_score
6    10009  17,31,63,40,4            3.0
   zipcode  attribute_id  average_score
4    10019  17,31,4,40,7            3.6
    zipcode    attribute_id  average_score
30    10032  63,17,40,42,31            2.6
   zipcode   attribute_id  average_score
8    11238  31,17,40,4,21            3.6
   zipcode  attribute_id  average_score
9    10003  31,17,4,7,21            4.2
    zipcode    attribute_id  average_score
38    11377  17,63,43,35,40            3.0
    zipcode   attribute_id  average_score
17    11205  31,17,63,4,40            3.0
    zipcode  attribute_id  average_score
21    10014  17,31,4,7,21            4.2
   zipcode   attribute_id  average_score
0    11211  31,17,40,56,4            3.2
    zipcode    attribute_id  average_score
18    10031  63,40,43,42,17            3.0
   zipcode   attribute_id  average_score
5    10002  63,17,31,43,7            3.6
    zipcode    attribute_id  average_score
22    11226  63,40,43,45,17            3.0
    zipcode  attribute_id  average_score
35    11201  31,17,4,7,63            3.6
   zipcode   attribute_id  average_score
0    11211  31,17,40,56,4            3.2
   zipcode   attribute_id  average_score
6    10009  17,31,63,40,4            3.0
   zipcode   attribute_id  average_score
6    10009  17,31,63,40,4            3.0
   zipcode   attribute_id  average_score
0    11211  31,17,40,56,4            3.2
   zipcode   attribute_id  average_score
8    11238  31,17,40,4,21            3.6
   zipcode    attribute_id  average_score
2    11206  63,31,42,40,56            2.6
    zipcode   attribute_id  average_score
25    11217  31,4,17,40,21            3.6
   zipcode   attribute_id  average_score
8    11238  31,17,40,4,21            3.6
    zipcode   attribute_id  average_score
25    11217  31,4,17,40,21            3.6
    zipcode    attribute_id  average_score
10    11237  63,42,43,31,40            3.0
    zipcode  attribute_id  average_score
11    10025  17,7,40,31,4            3.6
    zipcode    attribute_id  average_score
18    10031  63,40,43,42,17            3.0
    zipcode  attribute_id  average_score
21    10014  17,31,4,7,21            4.2
    zipcode    attribute_id  average_score
14    11233  63,42,17,40,43            3.0
    zipcode   attribute_id  average_score
44    11231  17,63,4,31,40            3.0
    zipcode  attribute_id  average_score
21    10014  17,31,4,7,21            4.2
   zipcode    attribute_id  average_score
2    11206  63,31,42,40,56            2.6
    zipcode  attribute_id  average_score
15    11215  4,17,31,7,21            4.2
    zipcode    attribute_id  average_score
14    11233  63,42,17,40,43            3.0
   zipcode   attribute_id  average_score
0    11211  31,17,40,56,4            3.2
    zipcode   attribute_id  average_score
19    10027  63,17,40,31,7            3.0
    zipcode   attribute_id  average_score
25    11217  31,4,17,40,21            3.6
    zipcode  attribute_id  average_score
46    10018  31,17,4,40,7            3.6
   zipcode   attribute_id  average_score
8    11238  31,17,40,4,21            3.6
   zipcode   attribute_id  average_score
6    10009  17,31,63,40,4            3.0
    zipcode  attribute_id  average_score
15    11215  4,17,31,7,21            4.2
   zipcode   attribute_id  average_score
6    10009  17,31,63,40,4            3.0
    zipcode   attribute_id  average_score
20    11249  31,17,63,4,42            3.2
   zipcode   attribute_id  average_score
6    10009  17,31,63,40,4            3.0
    zipcode  attribute_id  average_score
15    11215  4,17,31,7,21            4.2
    zipcode    attribute_id  average_score
18    10031  63,40,43,42,17            3.0
    zipcode  attribute_id  average_score
15    11215  4,17,31,7,21            4.2
    zipcode  attribute_id  average_score
36    10023  17,7,4,31,40            3.6
   zipcode   attribute_id  average_score
6    10009  17,31,63,40,4            3.0
    zipcode   attribute_id  average_score
27    11225  40,17,31,63,7            3.0
    zipcode  attribute_id  average_score
40    10128  17,31,7,4,40            3.6
   zipcode   attribute_id  average_score
8    11238  31,17,40,4,21            3.6
    zipcode   attribute_id  average_score
19    10027  63,17,40,31,7            3.0
   zipcode   attribute_id  average_score
8    11238  31,17,40,4,21            3.6
   zipcode  attribute_id  average_score
9    10003  31,17,4,7,21            4.2
   zipcode  attribute_id  average_score
4    10019  17,31,4,40,7            3.6
    zipcode  attribute_id  average_score
93    11234  19,7,4,21,17            4.4
   zipcode   attribute_id  average_score
8    11238  31,17,40,4,21            3.6
    zipcode    attribute_id  average_score
14    11233  63,42,17,40,43            3.0
   zipcode   attribute_id  average_score
8    11238  31,17,40,4,21            3.6
   zipcode   attribute_id  average_score
7    11222  17,31,40,21,4            3.6
   zipcode   attribute_id  average_score
0    11211  31,17,40,56,4            3.2
   zipcode   attribute_id  average_score
6    10009  17,31,63,40,4            3.0
    zipcode  attribute_id  average_score
35    11201  31,17,4,7,63            3.6
     zipcode  attribute_id  average_score
133    11367  17,19,7,4,63            3.8
    zipcode    attribute_id  average_score
14    11233  63,42,17,40,43            3.0
   zipcode   attribute_id  average_score
0    11211  31,17,40,56,4            3.2
   zipcode   attribute_id  average_score
0    11211  31,17,40,56,4            3.2
   zipcode   attribute_id  average_score
0    11211  31,17,40,56,4            3.2
    zipcode   attribute_id  average_score
17    11205  31,17,63,4,40            3.0
   zipcode   attribute_id  average_score
8    11238  31,17,40,4,21            3.6
   zipcode   attribute_id  average_score
0    11211  31,17,40,56,4            3.2
   zipcode   attribute_id  average_score
8    11238  31,17,40,4,21            3.6
    zipcode    attribute_id  average_score
24    10029  63,40,17,31,43            3.0
    zipcode  attribute_id  average_score
21    10014  17,31,4,7,21            4.2
   zipcode   attribute_id  average_score
0    11211  31,17,40,56,4            3.2
    zipcode   attribute_id  average_score
29    10001  31,17,40,19,4            3.4
    zipcode  attribute_id  average_score
39    10028  17,31,7,4,21            4.2
    zipcode   attribute_id  average_score
25    11217  31,4,17,40,21            3.6
    zipcode  attribute_id  average_score
39    10028  17,31,7,4,21            4.2
   zipcode   attribute_id  average_score
0    11211  31,17,40,56,4            3.2
   zipcode  attribute_id  average_score
4    10019  17,31,4,40,7            3.6
     zipcode  attribute_id  average_score
155    10069  17,7,4,31,40            3.6
    zipcode   attribute_id  average_score
63    11104  17,40,31,4,21            3.6
   zipcode    attribute_id  average_score
3    11216  40,17,31,21,63            3.0
    zipcode  attribute_id  average_score
35    11201  31,17,4,7,63            3.6
    zipcode  attribute_id  average_score
54    10065  17,7,31,4,21            4.2
    zipcode  attribute_id  average_score
15    11215  4,17,31,7,21            4.2
    zipcode    attribute_id  average_score
18    10031  63,40,43,42,17            3.0
   zipcode   attribute_id  average_score
8    11238  31,17,40,4,21            3.6
    zipcode   attribute_id  average_score
44    11231  17,63,4,31,40            3.0
    zipcode   attribute_id  average_score
82    10301  40,7,19,17,63            3.2
    zipcode  attribute_id  average_score
37    10013  17,4,31,7,63            3.6
    zipcode    attribute_id  average_score
10    11237  63,42,43,31,40            3.0
     zipcode    attribute_id  average_score
105    10452  42,63,56,45,43            3.2
    zipcode   attribute_id  average_score
20    11249  31,17,63,4,42            3.2
   zipcode   attribute_id  average_score
6    10009  17,31,63,40,4            3.0
    zipcode   attribute_id  average_score
17    11205  31,17,63,4,40            3.0
    zipcode  attribute_id  average_score
21    10014  17,31,4,7,21            4.2
   zipcode  attribute_id  average_score
9    10003  31,17,4,7,21            4.2
    zipcode   attribute_id  average_score
19    10027  63,17,40,31,7            3.0
    zipcode  attribute_id  average_score
21    10014  17,31,4,7,21            4.2
    zipcode    attribute_id  average_score
73    10039  63,45,43,42,40            3.0
    zipcode   attribute_id  average_score
25    11217  31,4,17,40,21            3.6
    zipcode    attribute_id  average_score
33    11385  42,17,63,43,40            3.0
     zipcode    attribute_id  average_score
106    10454  63,42,56,43,45            3.2
    zipcode  attribute_id  average_score
11    10025  17,7,40,31,4            3.6
   zipcode   attribute_id  average_score
0    11211  31,17,40,56,4            3.2
    zipcode   attribute_id  average_score
25    11217  31,4,17,40,21            3.6
   zipcode    attribute_id  average_score
3    11216  40,17,31,21,63            3.0
    zipcode   attribute_id  average_score
25    11217  31,4,17,40,21            3.6
    zipcode  attribute_id  average_score
53    10021  17,7,31,4,21            4.2
   zipcode    attribute_id  average_score
3    11216  40,17,31,21,63            3.0
    zipcode  attribute_id  average_score
16    10011  17,31,4,7,40            3.6
   zipcode   attribute_id  average_score
5    10002  63,17,31,43,7            3.6
    zipcode  attribute_id  average_score
15    11215  4,17,31,7,21            4.2
    zipcode  attribute_id  average_score
62    10075  17,31,7,4,21            4.2
    zipcode   attribute_id  average_score
29    10001  31,17,40,19,4            3.4
    zipcode    attribute_id  average_score
65    11434  35,63,45,43,21            3.6
    zipcode   attribute_id  average_score
12    10036  17,31,40,4,21            3.6
   zipcode    attribute_id  average_score
2    11206  63,31,42,40,56            2.6
     zipcode   attribute_id  average_score
117    11379  7,19,35,17,21            4.0
    zipcode    attribute_id  average_score
33    11385  42,17,63,43,40            3.0
     zipcode   attribute_id  average_score
117    11379  7,19,35,17,21            4.0
   zipcode  attribute_id  average_score
4    10019  17,31,4,40,7            3.6
    zipcode   attribute_id  average_score
31    10026  40,17,31,63,4            3.0
    zipcode   attribute_id  average_score
25    11217  31,4,17,40,21            3.6
    zipcode   attribute_id  average_score
19    10027  63,17,40,31,7            3.0
     zipcode    attribute_id  average_score
105    10452  42,63,56,45,43            3.2
    zipcode    attribute_id  average_score
47    10035  63,42,43,17,40            3.0
   zipcode   attribute_id  average_score
0    11211  31,17,40,56,4            3.2
    zipcode    attribute_id  average_score
14    11233  63,42,17,40,43            3.0
   zipcode  attribute_id  average_score
9    10003  31,17,4,7,21            4.2
   zipcode   attribute_id  average_score
0    11211  31,17,40,56,4            3.2
    zipcode   attribute_id  average_score
25    11217  31,4,17,40,21            3.6
   zipcode  attribute_id  average_score
9    10003  31,17,4,7,21            4.2
    zipcode   attribute_id  average_score
19    10027  63,17,40,31,7            3.0
    zipcode    attribute_id  average_score
60    11105  17,31,21,40,63            3.0
    zipcode  attribute_id  average_score
35    11201  31,17,4,7,63            3.6
   zipcode  attribute_id  average_score
9    10003  31,17,4,7,21            4.2
   zipcode  attribute_id  average_score
4    10019  17,31,4,40,7            3.6
   zipcode  attribute_id  average_score
9    10003  31,17,4,7,21            4.2
    zipcode  attribute_id  average_score
49    10010  17,31,4,7,40            3.6
    zipcode   attribute_id  average_score
19    10027  63,17,40,31,7            3.0
    zipcode    attribute_id  average_score
18    10031  63,40,43,42,17            3.0
    zipcode  attribute_id  average_score
15    11215  4,17,31,7,21            4.2
    zipcode  attribute_id  average_score
90    10044  17,31,40,4,7            3.6
   zipcode   attribute_id  average_score
5    10002  63,17,31,43,7            3.6
    zipcode    attribute_id  average_score
33    11385  42,17,63,43,40            3.0
    zipcode  attribute_id  average_score
34    10022  17,7,4,31,21            4.2
    zipcode  attribute_id  average_score
37    10013  17,4,31,7,63            3.6
   zipcode  attribute_id  average_score
9    10003  31,17,4,7,21            4.2
    zipcode    attribute_id  average_score
24    10029  63,40,17,31,43            3.0
    zipcode   attribute_id  average_score
19    10027  63,17,40,31,7            3.0
    zipcode   attribute_id  average_score
19    10027  63,17,40,31,7            3.0
   zipcode   attribute_id  average_score
6    10009  17,31,63,40,4            3.0
    zipcode  attribute_id  average_score
11    10025  17,7,40,31,4            3.6
    zipcode   attribute_id  average_score
19    10027  63,17,40,31,7            3.0
    zipcode  attribute_id  average_score
37    10013  17,4,31,7,63            3.6
    zipcode   attribute_id  average_score
31    10026  40,17,31,63,4            3.0
   zipcode   attribute_id  average_score
5    10002  63,17,31,43,7            3.6
    zipcode  attribute_id  average_score
34    10022  17,7,4,31,21            4.2
   zipcode  attribute_id  average_score
9    10003  31,17,4,7,21            4.2
   zipcode    attribute_id  average_score
1    11221  42,40,63,31,17            2.6
    zipcode   attribute_id  average_score
82    10301  40,7,19,17,63            3.2
    zipcode   attribute_id  average_score
82    10301  40,7,19,17,63            3.2
   zipcode   attribute_id  average_score
6    10009  17,31,63,40,4            3.0
    zipcode   attribute_id  average_score
82    10301  40,7,19,17,63            3.2
   zipcode   attribute_id  average_score
6    10009  17,31,63,40,4            3.0
    zipcode  attribute_id  average_score
16    10011  17,31,4,7,40            3.6
   zipcode   attribute_id  average_score
7    11222  17,31,40,21,4            3.6
   zipcode   attribute_id  average_score
0    11211  31,17,40,56,4            3.2
    zipcode   attribute_id  average_score
82    10301  40,7,19,17,63            3.2
    zipcode    attribute_id  average_score
42    11103  17,31,40,21,63            3.0
    zipcode   attribute_id  average_score
51    11218  17,40,4,42,31            3.2
    zipcode  attribute_id  average_score
15    11215  4,17,31,7,21            4.2
     zipcode    attribute_id  average_score
130    10473  63,42,43,35,45            3.2
     zipcode    attribute_id  average_score

ValueError: ignored

In [14]:
#from pandas import factorize
listings_neighbourhood_df['neighbourhood_normalized'] = listings_neighbourhood_df['neighbourhood'].factorize()[0]
#listings_neighbourhood_df['neighbourhood'].factorize()[0]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [15]:
listings_neighbourhood_df['neighbourhood_group_normalized'] = listings_neighbourhood_df['neighbourhood_group'].factorize()[0]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [25]:
def set_price_level(x):
    if 69 >= x:
      return 'low'
    elif 105 >= x:
      return 'low medium' 
    elif 175 >= x:
      return 'high medium'
    else:
      return 'high'

listings_neighbourhood_df['price_normalized'] = listings_neighbourhood_df['price'].apply(set_price_level)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [40]:
import numpy as np
listings_neighbourhood_df.describe(include=[np.object])

             neighbourhood neighbourhood_group price_normalized
count                50599               50599            50599
unique                 223                   5                4
top     Bedford-Stuyvesant           Manhattan              low
freq                  3974               22070            12911

In [42]:
listings_neighbourhood_df.neighbourhood.unique()

array(['Midtown', 'Clinton Hill', 'Murray Hill', 'Bedford-Stuyvesant',
       "Hell's Kitchen", 'Upper West Side', 'Chinatown', 'South Slope',
       'West Village', 'Williamsburg', 'Fort Greene', 'Chelsea',
       'Crown Heights', 'East Harlem', 'Park Slope', 'Windsor Terrace',
       'Inwood', 'East Village', 'Harlem', 'Greenpoint', 'Bushwick',
       'Flatbush', 'Lower East Side', 'Prospect-Lefferts Gardens',
       'Long Island City', 'Kips Bay', 'SoHo', 'Upper East Side',
       'Red Hook', 'Prospect Heights', 'Washington Heights', 'Woodside',
       'Brooklyn Heights', 'Carroll Gardens', 'Gowanus', 'Flatlands',
       'Cobble Hill', 'Flushing', 'Boerum Hill', 'Sunnyside', 'DUMBO',
       'St. George', 'Tribeca', 'Highbridge', 'NoHo', 'Ridgewood',
       'Port Morris', 'Morningside Heights', 'Jamaica', 'Middle Village',
       'Ditmars Steinway', 'Flatiron District', 'Roosevelt Island',
       'Greenwich Village', 'Little Italy', 'Tompkinsville', 'Astoria',
       'Kensington', 'Clason Point', 'Eastchester', 'Kingsbridge',
       'Two Bridges', 'Queens Village', 'Rockaway Beach', 'Forest Hills',
       'East Flatbush', 'Nolita', 'Woodlawn', 'University Heights',
       'Gravesend', 'Gramercy', 'Allerton', 'East New York',
       'Sheepshead Bay', 'Theater District', 'Fort Hamilton',
       'Bensonhurst', 'Shore Acres', 'Sunset Park', 'Richmond Hill',
       'Elmhurst', 'Jackson Heights', 'Cypress Hills', 'St. Albans',
       'Arrochar', 'Financial District', 'Rego Park', 'Wakefield',
       'Clifton', 'Bay Ridge', 'Maspeth', 'Graniteville',
       'Spuyten Duyvil', 'Stapleton', 'Briarwood', 'Columbia St',
       'Morris Heights', 'Brighton Beach', 'Mott Haven', 'Longwood',
       'Battery Park City', 'Civic Center', 'Bayside', 'East Elmhurst',
       'New Springville', 'Concourse', 'Arverne', 'Tottenville',
       'Canarsie', 'Mariners Harbor', 'Concord', 'Borough Park',
       'Downtown Brooklyn', 'Kew Gardens', 'Midwood', 'College Point',
       'Mount Eden', 'Vinegar Hill', 'City Island', 'Glendale',
       'Williamsbridge', 'Soundview', 'Woodhaven', 'Woodrow',
       'Co-op City', 'Stuyvesant Town', 'Parkchester', 'North Riverdale',
       'Dyker Heights', 'Bronxdale', 'Sea Gate', 'Riverdale',
       'Ozone Park', 'Bay Terrace', 'Norwood', 'Claremont Village',
       'Whitestone', 'Fordham', 'Concourse Village', 'Fieldston',
       'Eltingville', 'Brownsville', 'Bath Beach', 'Navy Yard',
       'Mount Hope', 'Lighthouse Hill', 'Unionport', 'Howard Beach',
       'Belle Harbor', 'Kew Gardens Hills', 'Jamaica Estates', 'Van Nest',
       'Bellerose', 'Fresh Meadows', 'Morris Park', 'West Brighton',
       'Far Rockaway', 'South Ozone Park', 'Tremont', 'Corona',
       'Bayswater', 'Springfield Gardens', 'Manhattan Beach',
       'Marble Hill', 'Dongan Hills', 'Castleton Corners',
       'East Morrisania', 'Hunts Point', 'Neponsit', 'Pelham Bay',
       'Randall Manor', 'Throgs Neck', 'Todt Hill', 'Great Kills',
       'Silver Lake', 'Morrisania', 'Laurelton', 'Grymes Hill',
       'Holliswood', 'Pelham Gardens', 'Belmont', 'Rosedale', 'Edgemere',
       'New Brighton', 'Midland Beach', 'Baychester', 'Melrose',
       'Bergen Beach', 'Cambria Heights', 'Richmondtown', 'Howland Hook',
       'Schuylerville', 'Coney Island', 'New Dorp Beach', "Prince's Bay",
       'South Beach', 'Jamaica Hills', 'Oakwood', 'Castle Hill', 'Hollis',
       'Huguenot', 'Olinville', 'Edenwald', 'Grant City', 'Port Richmond',
       'Emerson Hill', 'Westerleigh', 'Bay Terrace, Staten Island',
       'Little Neck', 'Fort Wadsworth', 'Westchester Square',
       'Douglaston', 'Rosebank', 'Mill Basin', 'Arden Heights',
       "Bull's Head", 'New Dorp', 'Rossville', 'Breezy Point',
       'Willowbrook', 'Gerritsen Beach', 'West Farms', 'Country Club'],
      dtype=object)

In [0]:
from sklearn import linear_model

x = listings_neighbourhood_df[['price']]
y = listings_neighbourhood_df[['neighbourhood_normalized', 'neighbourhood_group_normalized']]

lm = linear_model.LinearRegression()
model = lm.fit(x,y)

#chi square test
#anova analysis variance test

In [32]:
model.coef_

array([[-0.00421108],
       [-0.00029717]])