# Exploration of Data Sources
* listings.csv.gz - Detailed listings data for New York City
* listings.csv - Summary information and metrics for listings in New York City
* calendar.csv.gz - Detailed calendar data for listings in New York City
* reviews.csv.gz - Detailed review data for listings in New York City
* reviews.csv - Summary review data and listing ID
* neighbourhoods.csv - Neighbourhood list for geo filter. Sourced from city or open source GIS files
* neighbourhoods.geojson - GeoJSON file of neighbourhoods of the city

For the purposes of this notebook, each file will be explored separately.

In [1]:
import pandas as pd 
import json
import os

# function to summarize data
# param: df dataframe
# print number of variables, data type counts, and variable names
def summarizeData(df):
    print("Number of Variables: {:d}\n".format(df.shape[1]))
    print("Number of Observations: {:d}\n".format(df.shape[0]))
    print("Data types:")
    print(df.dtypes.value_counts())    
    print("\nColumn Names by Type:\n")
    g = df.columns.to_series().groupby(df.dtypes).groups
    for item in g.items():
        print(item)

## Available Data

In [2]:
# Data directory
folder = r'C:\Users\ke392d\Desktop\Master\LTP_Learning Together Program\LTP - Masters Data Science\MAR653\_team_project\data'
# function to get absolute filepaths in a directory
# param directory: absolute directory name
# yields absolute file paths
def absoluteFilePaths(directory):
   for dirpath,_,filenames in os.walk(directory):
       for f in filenames:
           yield os.path.abspath(os.path.join(dirpath, f)) 
# get list of absolute file paths in current directory
myGenerator = absoluteFilePaths(folder)
filelist = []
for f in myGenerator:
    filelist.append(f)
print(filelist)

['C:\\Users\\ke392d\\Desktop\\Master\\LTP_Learning Together Program\\LTP - Masters Data Science\\MAR653\\_team_project\\data\\listings.csv', 'C:\\Users\\ke392d\\Desktop\\Master\\LTP_Learning Together Program\\LTP - Masters Data Science\\MAR653\\_team_project\\data\\neighbourhoods.csv', 'C:\\Users\\ke392d\\Desktop\\Master\\LTP_Learning Together Program\\LTP - Masters Data Science\\MAR653\\_team_project\\data\\neighbourhoods.geojson', 'C:\\Users\\ke392d\\Desktop\\Master\\LTP_Learning Together Program\\LTP - Masters Data Science\\MAR653\\_team_project\\data\\reviews.csv', 'C:\\Users\\ke392d\\Desktop\\Master\\LTP_Learning Together Program\\LTP - Masters Data Science\\MAR653\\_team_project\\data\\calendar_detailed\\calendar.csv.gz', 'C:\\Users\\ke392d\\Desktop\\Master\\LTP_Learning Together Program\\LTP - Masters Data Science\\MAR653\\_team_project\\data\\listings_detailed\\listings.csv.gz', 'C:\\Users\\ke392d\\Desktop\\Master\\LTP_Learning Together Program\\LTP - Masters Data Science\\MAR653\\_team_project\\data\\reviews_detailed\\reviews.csv.gz']

## File: listings.csv.gz (detailed)
* Detailed Listings data for New York City
* Contains 50599 observations of 43 numeric and 63 object variables

In [3]:
fname = folder + '\\listings_detailed\\listings.csv.gz'
df = pd.read_csv(fname, compression='gzip')
df.describe()

,id,scrape_id,thumbnail_url,medium_url,xl_picture_url,host_id,host_acceptance_rate,host_listings_count,host_total_listings_count,latitude,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
count,5.059900e+04,5.059900e+04,0.0,0.0,0.0,5.059900e+04,0.0,50036.000000,50036.000000,50599.000000,...,39415.000000,39385.000000,39404.000000,39381.000000,39382.000000,50599.000000,50599.000000,50599.000000,50599.000000,40379.000000
mean,2.137380e+07,2.019120e+13,NaN,NaN,NaN,7.893854e+07,NaN,17.388720,17.388720,40.728743,...,9.273272,9.739647,9.743579,9.580585,9.383272,7.330916,5.615170,1.480009,0.128995,1.405862
std,1.242864e+07,1.221496e+01,NaN,NaN,NaN,9.095944e+07,NaN,111.558158,111.558158,0.055004,...,1.079284,0.735555,0.751233,0.758823,0.928692,32.757485,32.293312,6.496156,1.027153,1.695551
min,2.595000e+03,2.019120e+13,NaN,NaN,NaN,2.438000e+03,NaN,0.000000,0.000000,40.499790,...,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.010000
25%,1.009891e+07,2.019120e+13,NaN,NaN,NaN,8.925493e+06,NaN,1.000000,1.000000,40.689550,...,9.000000,10.000000,10.000000,9.000000,9.000000,1.000000,0.000000,0.000000,0.000000,0.190000
50%,2.154642e+07,2.019120e+13,NaN,NaN,NaN,3.572660e+07,NaN,1.000000,1.000000,40.722880,...,10.000000,10.000000,10.000000,10.000000,10.000000,1.000000,1.000000,0.000000,0.000000,0.740000
75%,3.271780e+07,2.019120e+13,NaN,NaN,NaN,1.293330e+08,NaN,2.000000,2.000000,40.763030,...,10.000000,10.000000,10.000000,10.000000,10.000000,2.000000,1.000000,1.000000,0.000000,2.110000
max,4.058402e+07,2.019120e+13,NaN,NaN,NaN,3.143682e+08,NaN,1767.000000,1767.000000,40.916860,...,10.000000,10.000000,10.000000,10.000000,10.000000,310.000000,310.000000,118.000000,24.000000,52.630000

In [4]:
summarizeData(df)

Number of Variables: 106

Number of Observations: 50599

Data types:
object     63
float64    22
int64      21
dtype: int64

Column Names by Type:

(dtype('int64'), Index(['id', 'scrape_id', 'host_id', 'accommodates', 'guests_included',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'availability_30', 'availability_60',
       'availability_90', 'availability_365', 'number_of_reviews',
       'number_of_reviews_ltm', 'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms'],
      dtype='object'))
(dtype('float64'), Index(['thumbnail_url', 'medium_url', 'xl_picture_url', 'host_acceptance_rate',
       'host_listings_count', 'host_total_listings_count', 'latitude',
       'longitude', 'bathrooms', 'bedrooms', 'beds', 'square_feet',
       'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'reviews_per_month'],
      dtype='object'))
(dtype('O'), Index(['listing_url', 'last_scraped', 'name', 'summary', 'space',
       'description', 'experiences_offered', 'neighborhood_overview', 'notes',
       'transit', 'access', 'interaction', 'house_rules', 'picture_url',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_is_superhost',
       'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood',
       'host_verifications', 'host_has_profile_pic', 'host_identity_verified',
       'street', 'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'is_location_exact',
       'property_type', 'room_type', 'bed_type', 'amenities', 'price',
       'weekly_price', 'monthly_price', 'security_deposit', 'cleaning_fee',
       'extra_people', 'calendar_updated', 'has_availability',
       'calendar_last_scraped', 'first_review', 'last_review',
       'requires_license', 'license', 'jurisdiction_names', 'instant_bookable',
       'is_business_travel_ready', 'cancellation_policy',
       'require_guest_profile_picture', 'require_guest_phone_verification'],
      dtype='object'))

### Sample Observation

In [5]:
df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2595,https://www.airbnb.com/rooms/2595,20191204162729,2019-12-07,Skylit Midtown Castle,"Beautiful, spacious skylit studio in the heart...","- Spacious (500+ft²), immaculate and nicely fu...","Beautiful, spacious skylit studio in the heart...",none,Centrally located in the heart of Manhattan ju...,...,f,f,strict_14_with_grace_period,t,t,1,1,0,0,0.39
1,3831,https://www.airbnb.com/rooms/3831,20191204162729,2019-12-07,Cozy Entire Floor of Brownstone,Urban retreat: enjoy 500 s.f. floor in 1899 br...,Greetings! We own a double-duplex brownst...,Urban retreat: enjoy 500 s.f. floor in 1899 br...,none,Just the right mix of urban center and local n...,...,f,f,moderate,f,f,1,1,0,0,4.67
2,5099,https://www.airbnb.com/rooms/5099,20191204162729,2019-12-06,Large Cozy 1 BR Apartment In Midtown East,My large 1 bedroom apartment has a true New Yo...,I have a large 1 bedroom apartment centrally l...,My large 1 bedroom apartment has a true New Yo...,none,My neighborhood in Midtown East is called Murr...,...,f,f,moderate,t,t,1,1,0,0,0.60
3,5121,https://www.airbnb.com/rooms/5121,20191204162729,2019-12-06,BlissArtsSpace!,NaN,HELLO EVERYONE AND THANKS FOR VISITING BLISS A...,HELLO EVERYONE AND THANKS FOR VISITING BLISS A...,none,NaN,...,f,f,strict_14_with_grace_period,f,f,1,0,1,0,0.38
4,5178,https://www.airbnb.com/rooms/5178,20191204162729,2019-12-05,Large Furnished Room Near B'way,Please don’t expect the luxury here just a bas...,"You will use one large, furnished, private roo...",Please don’t expect the luxury here just a bas...,none,"Theater district, many restaurants around here.",...,f,f,strict_14_with_grace_period,f,f,1,0,1,0,3.52

## File: listings.csv (summary)
* Summary information and metrics for listings in New York City (good for visualizations)
* Contains 50599 observations of 10 numeric and 6 object variables

In [6]:
fname = folder + '\\listings.csv'
df = pd.read_csv(fname)
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,5.059900e+04,5.059900e+04,50599.000000,50599.000000,50599.000000,50599.000000,50599.000000,40379.000000,50599.000000,50599.000000
mean,2.137380e+07,7.893854e+07,40.728743,-73.950762,158.171782,7.531908,24.809225,1.405862,7.330916,112.785944
std,1.242864e+07,9.095944e+07,0.055004,0.047606,348.089562,22.454271,47.317882,1.695551,32.757485,135.891028
min,2.595000e+03,2.438000e+03,40.499790,-74.247870,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,1.009891e+07,8.925493e+06,40.689550,-73.982930,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,2.154642e+07,3.572660e+07,40.722880,-73.955050,105.000000,3.000000,6.000000,0.740000,1.000000,42.000000
75%,3.271780e+07,1.293330e+08,40.763030,-73.934200,175.000000,5.000000,25.000000,2.110000,2.000000,225.000000
max,4.058402e+07,3.143682e+08,40.916860,-73.712990,10000.000000,1250.000000,675.000000,52.630000,310.000000,365.000000

In [7]:
summarizeData(df)

Number of Variables: 16

Number of Observations: 50599

Data types:
int64      7
object     6
float64    3
dtype: int64

Column Names by Type:

(dtype('int64'), Index(['id', 'host_id', 'price', 'minimum_nights', 'number_of_reviews',
       'calculated_host_listings_count', 'availability_365'],
      dtype='object'))
(dtype('float64'), Index(['latitude', 'longitude', 'reviews_per_month'], dtype='object'))
(dtype('O'), Index(['name', 'host_name', 'neighbourhood_group', 'neighbourhood',
       'room_type', 'last_review'],
      dtype='object'))

### Sample Observation

In [8]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,10,48,2019-11-04,0.39,1,1
1,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,295,2019-11-22,4.67,1,1
2,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,78,2019-10-13,0.60,1,19
3,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,49,2017-10-05,0.38,1,365
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,454,2019-11-21,3.52,1,242

## File: reviews.csv.gz (detailed)
* Detailed Review Data for listings in New York City
* Contains 1255322 observations of 3 numeric and 3 object variables

In [9]:
fname = folder + '\\reviews_detailed\\reviews.csv.gz'
df = pd.read_csv(fname, compression='gzip')
df.describe()

         listing_id            id   reviewer_id
count  1.255322e+06  1.255322e+06  1.255322e+06
mean   1.396211e+07  2.918422e+08  8.324934e+07
std    1.076478e+07  1.734486e+08  7.820263e+07
min    2.595000e+03  9.030000e+02  1.000000e+00
25%    4.081800e+06  1.415657e+08  1.876831e+07
50%    1.315684e+07  2.900042e+08  5.592106e+07
75%    2.173354e+07  4.526637e+08  1.324934e+08
max    4.056566e+07  5.736112e+08  3.146917e+08

In [10]:
summarizeData(df)

Number of Variables: 6

Number of Observations: 1255322

Data types:
int64     3
object    3
dtype: int64

Column Names by Type:

(dtype('int64'), Index(['listing_id', 'id', 'reviewer_id'], dtype='object'))
(dtype('O'), Index(['date', 'reviewer_name', 'comments'], dtype='object'))

### Sample Observation

In [11]:
df.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,2595,17857,2009-11-21,50679,Jean,Notre séjour de trois nuits.\r\nNous avons app...
1,2595,19176,2009-12-05,53267,Cate,Great experience.
2,2595,19760,2009-12-10,38960,Anita,I've stayed with my friend at the Midtown Cast...
3,2595,34320,2010-04-09,71130,Kai-Uwe,"We've been staying here for about 9 nights, en..."
4,2595,46312,2010-05-25,117113,Alicia,We had a wonderful stay at Jennifer's charming...

## File: reviews.csv (summary)
* Summary Review data and Listing ID (to facilitate time based analytics and visualizations linked to a listing)
* Contains 1255322 observations of 1 numeric and 1 object variables
* These are observations of review dates by listing ID.

In [12]:
fname = folder + '\\reviews.csv'
df = pd.read_csv(fname)
df.describe()

         listing_id
count  1.255322e+06
mean   1.396211e+07
std    1.076478e+07
min    2.595000e+03
25%    4.081800e+06
50%    1.315684e+07
75%    2.173354e+07
max    4.056566e+07

In [13]:
summarizeData(df)

Number of Variables: 2

Number of Observations: 1255322

Data types:
int64     1
object    1
dtype: int64

Column Names by Type:

(dtype('int64'), Index(['listing_id'], dtype='object'))
(dtype('O'), Index(['date'], dtype='object'))

### Sample Observation

In [14]:
df.head()

   listing_id        date
0        2595  2009-11-21
1        2595  2009-12-05
2        2595  2009-12-10
3        2595  2010-04-09
4        2595  2010-05-25

## File: calendar.csv.gz (detailed)
> Detailed Calendar Data for listings in New York City

In [15]:
fname = folder + '\\calendar_detailed\\calendar.csv.gz'
df = pd.read_csv(fname, compression='gzip')
df.describe()

         listing_id  minimum_nights  maximum_nights
count  1.847016e+07    1.846950e+07    1.846950e+07
mean   2.137365e+07    8.528041e+00    6.886948e+05
std    1.242861e+07    3.029394e+01    3.841186e+07
min    2.595000e+03    1.000000e+00    1.000000e+00
25%    1.009889e+07    1.000000e+00    2.900000e+01
50%    2.154642e+07    3.000000e+00    1.125000e+03
75%    3.271789e+07    5.000000e+00    1.125000e+03
max    4.058402e+07    3.456000e+03    2.147484e+09

In [16]:
summarizeData(df)

Number of Variables: 7

Number of Observations: 18470156

Data types:
object     4
float64    2
int64      1
dtype: int64

Column Names by Type:

(dtype('int64'), Index(['listing_id'], dtype='object'))
(dtype('float64'), Index(['minimum_nights', 'maximum_nights'], dtype='object'))
(dtype('O'), Index(['date', 'available', 'price', 'adjusted_price'], dtype='object'))

### Sample Observation

In [17]:
df.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,19812,2019-12-05,f,$105.00,$105.00,3.0,90.0
1,2595,2019-12-06,f,$175.00,$175.00,10.0,1125.0
2,2595,2019-12-07,f,$175.00,$175.00,10.0,1125.0
3,2595,2019-12-08,f,$175.00,$175.00,10.0,1125.0
4,2595,2019-12-09,f,$175.00,$175.00,10.0,1125.0

## File: neighbourhoods.csv
> Neighbourhood list for geo filter. Sourced from city or open source GIS files.

In [18]:
fname = folder + '\\neighbourhoods.csv'
df = pd.read_csv(fname)
df.describe()

       neighbourhood_group     neighbourhood
count                  230               230
unique                   5               230
top                 Queens  Ditmars Steinway
freq                    53                 1

In [19]:
summarizeData(df)

Number of Variables: 2

Number of Observations: 230

Data types:
object    2
dtype: int64

Column Names by Type:

(dtype('O'), Index(['neighbourhood_group', 'neighbourhood'], dtype='object'))

### Sample Observation

In [23]:
df.head()

  neighbourhood_group neighbourhood
0               Bronx      Allerton
1               Bronx    Baychester
2               Bronx       Belmont
3               Bronx     Bronxdale
4               Bronx   Castle Hill

## File: neighbourhoods.geojson
> GeoJSON file of neighbourhoods of the city

In [20]:
fname = folder + '\\neighbourhoods.geojson'
with open(fname,'r') as fin:
    data = json.loads(fin.read())

In [21]:
data.keys()

dict_keys(['type', 'features'])

In [22]:
data['type']

'FeatureCollection'

In [24]:
print("There are {:d} feature sets in the collection".format(len(data['features'])))

There are 233 feature sets in the collection

### Sample Observation

In [25]:
# inspect first feature set
data['features'][0]

{'type': 'Feature',
 'geometry': {'type': 'MultiPolygon',
  'coordinates': [[[[-73.766708, 40.614911],
     [-73.768253, 40.614878],
     [-73.773977, 40.616004],
     [-73.773631, 40.616327],
     [-73.768735, 40.620901],
     [-73.767459, 40.620511],
     [-73.766978, 40.616919],
     [-73.766708, 40.614911]]]]},
 'properties': {'neighbourhood': 'Bayswater', 'neighbourhood_group': 'Queens'}}

Each feature set contains latitude and longitude coordinates specific to neighbourhood and neighbourhood group.

In [26]:
# all neighbourhood groups
neighbourhoodgroups = set([f['properties']['neighbourhood_group'] for f in data['features']])
print(neighbourhoodgroups)

{'Brooklyn', 'Manhattan', 'Staten Island', 'Queens', 'Bronx'}

In [27]:
# all neighbourhoods by neighbourhood group
for group in neighbourhoodgroups:
    # neighbourhoods respective to neighbourhood group
    nnames = [f['properties']['neighbourhood'] for f in data['features'] if f['properties']['neighbourhood_group'] == group]
    print('\n',"group:",group)
    print(" neighbourhoods:{:d}".format(len(nnames)),'\n')
    print(nnames)

 group: Brooklyn
 neighbourhoods:48

['Bay Ridge', 'Gerritsen Beach', 'Bath Beach', 'Bedford-Stuyvesant', 'Bensonhurst', 'Bergen Beach', 'Boerum Hill', 'Borough Park', 'Brighton Beach', 'Prospect-Lefferts Gardens', 'Brooklyn Heights', 'Brownsville', 'Bushwick', 'Cypress Hills', 'Canarsie', 'Carroll Gardens', 'Clinton Hill', 'Cobble Hill', 'Crown Heights', 'Columbia St', 'Coney Island', 'DUMBO', 'Downtown Brooklyn', 'Dyker Heights', 'East Flatbush', 'East New York', 'Flatbush', 'Flatlands', 'Gowanus', 'Fort Greene', 'Fort Hamilton', 'Gravesend', 'Kensington', 'Greenpoint', 'Manhattan Beach', 'Midwood', 'Mill Basin', 'Navy Yard', 'Park Slope', 'Prospect Heights', 'Red Hook', 'Sea Gate', 'Sheepshead Bay', 'South Slope', 'Sunset Park', 'Vinegar Hill', 'Windsor Terrace', 'Williamsburg']

 group: Manhattan
 neighbourhoods:32

['Battery Park City', 'Chinatown', 'Chelsea', 'Civic Center', 'East Harlem', 'East Village', 'Financial District', 'Flatiron District', 'Gramercy', 'Greenwich Village', 'Harlem', "Hell's Kitchen", 'Inwood', 'Kips Bay', 'Little Italy', 'Murray Hill', 'Lower East Side', 'Marble Hill', 'Midtown', 'Morningside Heights', 'NoHo', 'Nolita', 'SoHo', 'Roosevelt Island', 'Stuyvesant Town', 'Theater District', 'Tribeca', 'Two Bridges', 'Upper East Side', 'Upper West Side', 'Washington Heights', 'West Village']

 group: Staten Island
 neighbourhoods:48

['Arden Heights', 'Arrochar', 'Port Ivory', 'Bay Terrace, Staten Island', 'Bloomfield', "Bull's Head", 'Chelsea, Staten Island', 'Castleton Corners', 'Grant City', 'Charleston', 'Clifton', 'Concord', 'Dongan Hills', 'Eltingville', 'Emerson Hill', 'Shore Acres', 'Fort Wadsworth', 'Graniteville', 'Great Kills', 'Huguenot', 'Grymes Hill', 'Howland Hook', 'Lighthouse Hill', 'Oakwood', 'Pleasant Plains', 'Mariners Harbor', 'Midland Beach', 'New Brighton', 'New Dorp', 'New Dorp Beach', 'New Springville', 'Port Richmond', "Prince's Bay", 'Randall Manor', 'Silver Lake', 'Woodrow', 'Richmondtown', 'Rosebank', 'Rossville', 'South Beach', 'Tompkinsville', 'St. George', 'Stapleton', 'Todt Hill', 'Tottenville', 'West Brighton', 'Westerleigh', 'Willowbrook']

 group: Queens
 neighbourhoods:55

['Bayswater', 'Ditmars Steinway', 'Ozone Park', 'Whitestone', 'Arverne', 'Astoria', 'Bayside', 'Bay Terrace', 'Bayswater', 'Belle Harbor', 'Bellerose', 'Breezy Point', 'Briarwood', 'Cambria Heights', 'College Point', 'Corona', 'Jamaica Hills', 'Douglaston', 'Glen Oaks', 'East Elmhurst', 'Elmhurst', 'Edgemere', 'Glendale', 'Far Rockaway', 'Jamaica Estates', 'Laurelton', 'Flushing', 'Forest Hills', 'Fresh Meadows', 'Kew Gardens', 'Queens Village', 'Hollis', 'Hollis Hills', 'Holliswood', 'Howard Beach', 'Howard Beach', 'Jackson Heights', 'Jamaica', 'Kew Gardens Hills', 'Little Neck', 'Long Island City', 'Maspeth', 'Middle Village', 'Neponsit', 'Rego Park', 'Richmond Hill', 'Ridgewood', 'Rockaway Beach', 'Rosedale', 'South Ozone Park', 'Springfield Gardens', 'St. Albans', 'Sunnyside', 'Woodside', 'Woodhaven']

 group: Bronx
 neighbourhoods:50

['Allerton', 'City Island', 'Fordham', 'Belmont', 'Soundview', 'Baychester', 'Mott Haven', 'Bronxdale', 'City Island', 'Castle Hill', 'Claremont Village', 'Clason Point', 'Co-op City', 'Concourse', 'Concourse Village', 'Mount Eden', 'Country Club', 'Mount Hope', 'East Morrisania', 'Fieldston', 'Eastchester', 'Edenwald', 'Parkchester', 'Pelham Bay', 'Highbridge', 'Pelham Gardens', 'Hunts Point', 'Morris Park', 'Kingsbridge', 'Morrisania', 'Longwood', 'Norwood', 'Morris Heights', 'Melrose', 'Olinville', 'North Riverdale', 'Port Morris', 'Riverdale', 'Schuylerville', 'Spuyten Duyvil', 'Van Nest', 'Throgs Neck', 'Tremont', 'Unionport', 'University Heights', 'Wakefield', 'West Farms', 'Woodlawn', 'Westchester Square', 'Williamsbridge']

## Getting Zipcodes for Coordinates

In [28]:
from uszipcode import SearchEngine
from uszipcode import Zipcode
from uszipcode import SimpleZipcode
search = SearchEngine(simple_zipcode=True) # set simple_zipcode=False to use rich info database
result = search.by_coordinates(40.614878, -73.768253, radius=30, returns=1)

In [29]:
data['features'][0]['properties']

{'neighbourhood': 'Bayswater', 'neighbourhood_group': 'Queens'}

In [30]:
for i in data['features'][0]['geometry']['coordinates'][0][0]:
    print(i[0], i[1])

-73.766708 40.614911
-73.768253 40.614878
-73.773977 40.616004
-73.773631 40.616327
-73.768735 40.620901
-73.767459 40.620511
-73.766978 40.616919
-73.766708 40.614911

In [31]:
search.by_coordinates(lat = 40.614911, lng = -73.766708, returns=1)

[SimpleZipcode(zipcode='11096', zipcode_type='Standard', major_city='Inwood', post_office_city='Inwood, NY', common_city_list=['Inwood', 'Far Rockaway'], county='Nassau County', state='NY', lat=40.62, lng=-73.75, timezone='Eastern', radius_in_miles=1.0, area_code_list=['516', '718', '347', '929'], population=8344, population_density=6827.0, land_area_in_sqmi=1.22, water_area_in_sqmi=0.47, housing_units=2702, occupied_housing_units=2536, median_home_value=384800, median_household_income=48538, bounds_west=-73.767023, bounds_east=-73.737316, bounds_north=40.633387, bounds_south=40.609984)]

In [32]:
data['features'][0]
for feature in data['features']:
    print(feature['properties'])

{'neighbourhood': 'Bayswater', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Allerton', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'City Island', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'Ditmars Steinway', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Ozone Park', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Fordham', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'Whitestone', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Arden Heights', 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': 'Arrochar', 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': 'Arverne', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Bay Ridge', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'Belmont', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'Gerritsen Beach', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'Port Ivory', 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': 'Soundview', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'Astoria', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Bath Beach', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'Bayside', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Battery Park City', 'neighbourhood_group': 'Manhattan'}
{'neighbourhood': 'Bay Terrace', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Bay Terrace, Staten Island', 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': 'Baychester', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'Bayswater', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Bedford-Stuyvesant', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'Belle Harbor', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Bellerose', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Bensonhurst', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'Bergen Beach', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'Bloomfield', 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': 'Boerum Hill', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'Borough Park', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'Brighton Beach', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'Prospect-Lefferts Gardens', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'Mott Haven', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'Bronxdale', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'Breezy Point', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Briarwood', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Brooklyn Heights', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'Brownsville', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': "Bull's Head", 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': 'Bushwick', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'Cambria Heights', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Chelsea, Staten Island', 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': 'Chinatown', 'neighbourhood_group': 'Manhattan'}
{'neighbourhood': 'City Island', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'Cypress Hills', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'Canarsie', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'Carroll Gardens', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'Castle Hill', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'Castleton Corners', 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': 'Grant City', 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': 'Charleston', 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': 'Chelsea', 'neighbourhood_group': 'Manhattan'}
{'neighbourhood': 'Civic Center', 'neighbourhood_group': 'Manhattan'}
{'neighbourhood': 'Claremont Village', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'Clason Point', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'Clifton', 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': 'Clinton Hill', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'Co-op City', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'Cobble Hill', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'College Point', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Crown Heights', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'Columbia St', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'Concord', 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': 'Concourse', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'Concourse Village', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'Coney Island', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'Corona', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Mount Eden', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'Jamaica Hills', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Country Club', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'Mount Hope', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'DUMBO', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'Dongan Hills', 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': 'Douglaston', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Downtown Brooklyn', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'Dyker Heights', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'Glen Oaks', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'East Elmhurst', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'East Flatbush', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'East Harlem', 'neighbourhood_group': 'Manhattan'}
{'neighbourhood': 'East Morrisania', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'Eltingville', 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': 'Emerson Hill', 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': 'Elmhurst', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Fieldston', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'East New York', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'East Village', 'neighbourhood_group': 'Manhattan'}
{'neighbourhood': 'Eastchester', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'Edenwald', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'Edgemere', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Glendale', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Far Rockaway', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Jamaica Estates', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Financial District', 'neighbourhood_group': 'Manhattan'}
{'neighbourhood': 'Flatbush', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'Flatiron District', 'neighbourhood_group': 'Manhattan'}
{'neighbourhood': 'Flatlands', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'Laurelton', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Shore Acres', 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': 'Flushing', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Gowanus', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'Forest Hills', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Fort Greene', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'Fort Hamilton', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'Fort Wadsworth', 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': 'Fresh Meadows', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Gramercy', 'neighbourhood_group': 'Manhattan'}
{'neighbourhood': 'Graniteville', 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': 'Gravesend', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'Kensington', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'Kew Gardens', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Parkchester', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'Pelham Bay', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'Great Kills', 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': 'Huguenot', 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': 'Greenpoint', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'Greenwich Village', 'neighbourhood_group': 'Manhattan'}
{'neighbourhood': 'Grymes Hill', 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': 'Harlem', 'neighbourhood_group': 'Manhattan'}
{'neighbourhood': 'Queens Village', 'neighbourhood_group': 'Queens'}
{'neighbourhood': "Hell's Kitchen", 'neighbourhood_group': 'Manhattan'}
{'neighbourhood': 'Highbridge', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'Hollis', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Hollis Hills', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Holliswood', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Howard Beach', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Howard Beach', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Howland Hook', 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': 'Pelham Gardens', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'Hunts Point', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'Inwood', 'neighbourhood_group': 'Manhattan'}
{'neighbourhood': 'Jackson Heights', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Jamaica', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Morris Park', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'Kew Gardens Hills', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Kingsbridge', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'Kips Bay', 'neighbourhood_group': 'Manhattan'}
{'neighbourhood': 'Lighthouse Hill', 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': 'Little Italy', 'neighbourhood_group': 'Manhattan'}
{'neighbourhood': 'Little Neck', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Morrisania', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'Murray Hill', 'neighbourhood_group': 'Manhattan'}
{'neighbourhood': 'Long Island City', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Longwood', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'Lower East Side', 'neighbourhood_group': 'Manhattan'}
{'neighbourhood': 'Manhattan Beach', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'Marble Hill', 'neighbourhood_group': 'Manhattan'}
{'neighbourhood': 'Midtown', 'neighbourhood_group': 'Manhattan'}
{'neighbourhood': 'Midwood', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'Norwood', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'Oakwood', 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': 'Morris Heights', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'Pleasant Plains', 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': 'Mariners Harbor', 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': 'Maspeth', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Melrose', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'Middle Village', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Midland Beach', 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': 'Mill Basin', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'Morningside Heights', 'neighbourhood_group': 'Manhattan'}
{'neighbourhood': 'Olinville', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'Navy Yard', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'Neponsit', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'New Brighton', 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': 'New Dorp', 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': 'New Dorp Beach', 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': 'New Springville', 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': 'NoHo', 'neighbourhood_group': 'Manhattan'}
{'neighbourhood': 'Nolita', 'neighbourhood_group': 'Manhattan'}
{'neighbourhood': 'North Riverdale', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'Park Slope', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'Port Morris', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'Port Richmond', 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': "Prince's Bay", 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': 'Prospect Heights', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'Randall Manor', 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': 'Riverdale', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'Silver Lake', 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': 'SoHo', 'neighbourhood_group': 'Manhattan'}
{'neighbourhood': 'Woodrow', 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': 'Red Hook', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'Rego Park', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Richmond Hill', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Richmondtown', 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': 'Ridgewood', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Sea Gate', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'Rockaway Beach', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Roosevelt Island', 'neighbourhood_group': 'Manhattan'}
{'neighbourhood': 'Rosebank', 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': 'Rosedale', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Rossville', 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': 'Schuylerville', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'Sheepshead Bay', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'South Beach', 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': 'South Ozone Park', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'South Slope', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'Springfield Gardens', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Spuyten Duyvil', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'St. Albans', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Tompkinsville', 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': 'St. George', 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': 'Stapleton', 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': 'Stuyvesant Town', 'neighbourhood_group': 'Manhattan'}
{'neighbourhood': 'Sunnyside', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Van Nest', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'Sunset Park', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'Theater District', 'neighbourhood_group': 'Manhattan'}
{'neighbourhood': 'Throgs Neck', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'Todt Hill', 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': 'Tottenville', 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': 'Tremont', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'Tribeca', 'neighbourhood_group': 'Manhattan'}
{'neighbourhood': 'Two Bridges', 'neighbourhood_group': 'Manhattan'}
{'neighbourhood': 'Vinegar Hill', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'Woodside', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Unionport', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'University Heights', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'Upper East Side', 'neighbourhood_group': 'Manhattan'}
{'neighbourhood': 'Upper West Side', 'neighbourhood_group': 'Manhattan'}
{'neighbourhood': 'Windsor Terrace', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'Wakefield', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'Washington Heights', 'neighbourhood_group': 'Manhattan'}
{'neighbourhood': 'West Brighton', 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': 'West Farms', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'Woodhaven', 'neighbourhood_group': 'Queens'}
{'neighbourhood': 'Woodlawn', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'West Village', 'neighbourhood_group': 'Manhattan'}
{'neighbourhood': 'Westchester Square', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'Westerleigh', 'neighbourhood_group': 'Staten Island'}
{'neighbourhood': 'Williamsbridge', 'neighbourhood_group': 'Bronx'}
{'neighbourhood': 'Williamsburg', 'neighbourhood_group': 'Brooklyn'}
{'neighbourhood': 'Willowbrook', 'neighbourhood_group': 'Staten Island'}

In [33]:
len([feature['properties'] for feature in data['features']])

233